

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.edit-container {
  display: flex;
  align-items: center;
}

.create-container {
  text-align: center;
}

.tasks-col {
  width: 40%;
  text-align: left;
  }

.progress-col {
  text-align: left;
  display: flex;
  align-items: center;
}

.actions-col {
  width: 20%;
}

.cancel-btn {
  border: 1px solid;
}

.error-message {
  margin: 0 !important;
}

.search-btn {
  margin-top: 24px;
}

.overlay {
  position: absolute;
  top: 30%;
  left: 40%; 
}